<html>
    <head>
        <title>iFish</title>
    </head>
    <body>
        <center>
            <form action="/logout" method="POST">
                <h1>Olá, {{user.name}}!</h1>
                <input type="submit" value="LogOut"/>
            </form>
            <form action="#" method = "POST">
                <input name="alterar" type="submit" value="alterar Senha"/>
            </form>
            <form action="#" method = "POST">
                <input name="alterar" type="submit" value="alterar User"/>
            </form>
        </center>
    </body>
</html>