.tela-busca-comprador,
.tela-busca-comprador * {
  box-sizing: border-box;
}
.tela-busca-comprador {
  background: #ffffff;
  width: 360px;
  height: 800px;
  position: relative;
  overflow: hidden;
}
.rectangle-8 {
  background: #71ccff;
  border-radius: 10px;
  width: 360px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 1px;
}
.boa-tarde-cl-ber {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 114px;
  top: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.circulo-vazado {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 170px;
  top: 680px;
  overflow: visible;
}
.settings {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 27px;
  top: 46px;
  overflow: visible;
}
.sliders {
  height: auto;
  position: absolute;
  left: 135px;
  top: 680px;
  overflow: visible;
}
.usu-rio {
  height: auto;
  position: absolute;
  right: 8.06%;
  left: 78.06%;
  width: 13.89%;
  bottom: 88.12%;
  top: 5.62%;
  height: 6.25%;
  overflow: visible;
}
.rectangle-9 {
  background: #71ccff;
  border-radius: 10px;
  width: 360px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 1px;
}
.house-solid-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 27px;
  top: 45px;
  overflow: visible;
}
.house-solid-1t {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 27px;
  top: 45px;
  overflow: visible;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}
.circulo-vazado4 {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 170px;
  top: 680px;
  overflow: visible;
}
.rodap-sele-es {
  position: absolute;
  inset: 0;
}
.config {
  background: #71ccff;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 0px;
  top: 710px;
}
.estoque {
  background: #71ccff;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 90px;
  top: 710px;
}
.pesquisa {
  background: #71ccff;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 180px;
  top: 710px;
}
.mapa {
  background: #71ccff;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 2px;
  width: 90px;
  height: 90px;
  position: absolute;
  left: 270px;
  top: 710px;
}
.mapa2 {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 290px;
  top: 730px;
  overflow: visible;
}
.history {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 200px;
  top: 730px;
  overflow: hidden;
}
.lupa {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 0px;
  top: 0px;
  overflow: visible;
}
.carrinho {
  border-radius: 15px;
  width: 50px;
  height: 50px;
  position: absolute;
  left: 20px;
  top: 730px;
  overflow: visible;
}
.vector12 {
  height: auto;
  position: absolute;
  right: 55.56%;
  left: 30.56%;
  width: 13.89%;
  bottom: 2.5%;
  top: 91.25%;
  height: 6.25%;
  overflow: visible;
}
.menus {
  position: absolute;
  inset: 0;
}
.rectangle-16 {
  background: #d9d9d9;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 271.99px;
  height: 39.35px;
  position: absolute;
  left: 48px;
  top: 299.65px;
}
.rectangle-13 {
  background: #d9d9d9;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 271.99px;
  height: 39.35px;
  position: absolute;
  left: 49.01px;
  top: 158px;
}
.rectangle-14 {
  background: #d9d9d9;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 271.99px;
  height: 39.35px;
  position: absolute;
  left: 48px;
  top: 205.22px;
}
.rectangle-15 {
  background: #d9d9d9;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 271.99px;
  height: 39.35px;
  position: absolute;
  left: 48px;
  top: 252.43px;
}
.top-10-mais-vendidos {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 79.23px;
  top: 215.45px;
  width: 211.55px;
  height: 18.89px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.perto-de-voc {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 115.49px;
  top: 262.67px;
  width: 139.02px;
  height: 18.89px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.o-que-voc-quer-comer {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 67.14px;
  top: 168.23px;
  width: 233.71px;
  height: 18.89px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.ltimas-compras {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 20px;
  font-weight: 400;
  position: absolute;
  left: 106.43px;
  top: 309.88px;
  width: 160.17px;
  height: 18.89px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.loja {
  position: absolute;
  inset: 0;
}
.rectangle-17 {
  background: #d9d9d9;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 360px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 355px;
}
._1-6-km {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 15px;
  font-weight: 400;
  position: absolute;
  left: 94px;
  top: 397px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-18 {
  background: #d9d9d9;
  border-radius: 15px;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 360px;
  height: 75px;
  position: absolute;
  left: 0px;
  top: 430px;
}
.loja-x {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  left: 90px;
  top: 373px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.circulo-vazado5 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 37px;
  top: 377px;
  overflow: visible;
}
.circulo-vazado6 {
  width: 30px;
  height: 30px;
  position: absolute;
  left: 37px;
  top: 452px;
  overflow: visible;
}
.estrela {
  width: 20px;
  height: 20px;
  position: absolute;
  left: 286px;
  top: 455px;
  overflow: visible;
}
.sliders2 {
  height: auto;
  position: absolute;
  left: 135px;
  top: 680px;
  overflow: visible;
}
.usu-rio2 {
  height: auto;
  position: absolute;
  right: 8.06%;
  left: 78.06%;
  width: 13.89%;
  bottom: 88.12%;
  top: 5.62%;
  height: 6.25%;
  overflow: visible;
}
.search {
  position: absolute;
  inset: 0;
}
.rectangle-60 {
  background: #d9d9d9;
  width: 360px;
  height: 663px;
  position: absolute;
  left: 0px;
  top: 137px;
}
.rectangle-61 {
  background: #fff9f9;
  border-radius: 15px;
  width: 310px;
  height: 75.46px;
  position: absolute;
  left: 25px;
  top: 251.69px;
}
.rectangle-61t {
  background: transparent;
  border: transparent;
  border-radius: 15px;
  width: 235px;
  height: 75.46px;
  position: absolute;
  left: 100px;
  top: 251.69px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  font-style: italic;
  outline-width: 0;
}
.rectangle-62 {
  background: #fff9f9;
  border-radius: 15px;
  width: 310px;
  height: 425px; 
  position: absolute;
  left: 25px;
  top: 350px;
  font-family: "Inter-Regular", sans-serif;
  font-size: 22px;
  font-weight: 400;
  text-align: left;
  overflow-y: auto;
}
.buscar-por-produto-nas-proximidades {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 25px;
  top: 162.15px;
  width: 310px;
  height: 86.52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.lupa2 {
  border-radius: 15px;
  width: 50px;
  height: 50.3px;
  position: absolute;
  left: 37px;
  top: 263.76px;
  overflow: visible;
}
.hist-rico-de-buscas {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 17px;
  top: 369px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
