.tela-carrinho-comprador,
.tela-carrinho-comprador * {
  box-sizing: border-box;
}
.tela-carrinho-comprador {
  background: #ffffff;
  width: 360px;
  height: 799px;
  position: relative;
  overflow: hidden;
}
.rectangle-8 {
  background: #71ccff;
  border-radius: 10px;
  width: 360px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 1px;
}
.boa-tarde-cl-ber {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 28px;
  font-weight: 700;
  position: absolute;
  left: 114px;
  top: 37px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.settings {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 27px;
  top: 46px;
  overflow: visible;
}
.usu-rio {
  height: auto;
  position: absolute;
  right: 8.06%;
  left: 78.06%;
  width: 13.89%;
  bottom: 88.13%;
  top: 5.62%;
  height: 6.25%;
  overflow: visible;
}
.rectangle-9 {
  background: #71ccff;
  border-radius: 10px;
  width: 360px;
  height: 140px;
  position: absolute;
  left: 0px;
  top: 1px;
}
.house-solid-1 {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 27px;
  top: 45px;
  overflow: visible;
}
.house-solid-1t {
  width: 50px;
  height: 50px;
  position: absolute;
  left: 27px;
  top: 45px;
  overflow: visible;
  z-index: 100;
  opacity: 0;
  cursor: pointer;
}
.vector4 {
  height: auto;
  position: absolute;
  right: 55.56%;
  left: 30.56%;
  width: 13.89%;
  bottom: 2.5%;
  top: 91.25%;
  height: 6.25%;
  overflow: visible;
}
.usu-rio2 {
  height: auto;
  position: absolute;
  right: 8.06%;
  left: 78.06%;
  width: 13.89%;
  bottom: 88.13%;
  top: 5.62%;
  height: 6.25%;
  overflow: visible;
}
.search {
  position: absolute;
  inset: 0;
}
.rectangle-60 {
  background: #d9d9d9;
  width: 360px;
  height: 663px;
  position: absolute;
  left: 0px;
  top: 137px;
}
.rectangle-61 {
  background: #fff9f9;
  border-radius: 15px;
  width: 310px;
  height: 285px;
  position: absolute;
  left: 15px;
  top: 251.69px;
}
._1-kg-salm-o-r-47-85 {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 10px;
  top: 261px;
  width: 300px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.carrinho {
  color: #000000;
  text-align: left;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
  position: absolute;
  left: 24px;
  top: 162px;
  width: 310px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.xmark-solid-1 {
  width: 40px;
  height: 50px;
  position: absolute;
  left: 31px;
  top: 264px;
  overflow: visible;
}
.rectangle-66 {
  background: #fdfbfb;
  border-style: solid;
  border-color: #000000;
  border-width: 1px;
  width: 360px;
  height: 100px;
  position: absolute;
  left: 0px;
  top: 600px;
}
.forma-de-pagamento {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 26px;
  top: 610px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.image-1 {
  width: 35px;
  height: 35px;
  position: absolute;
  left: 54px;
  top: 652px;
}
.pix {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 108px;
  top: 654px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.trocar {
  color: #1976d2;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 230px;
  top: 654px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-67 {
  background: #50caff;
  border-radius: 15px;
  width: 302px;
  height: 61px;
  position: absolute;
  left: 26px;
  top: 723px;
}
.rectangle-67t {
  background: #50caff;
  border-radius: 15px;
  width: 302px;
  height: 61px;
  position: absolute;
  left: 26px;
  top: 723px;
  z-index: 25;
  opacity: 0;
  cursor: pointer;
}
.total-r-47-85 {
  color: #000000;
  text-align: left;
  font-family: "-", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 16px;
  top: 549px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.total-r-47-85-span {
  color: #000000;
  font-family: "Inter-Bold", sans-serif;
  font-size: 26px;
  font-weight: 700;
}
.total-r-47-85-span2 {
  color: #000000;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
}
.continuar {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 26px;
  font-weight: 400;
  position: absolute;
  left: 90px;
  top: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  z-index: 10;
}
